<!DOCTYPE html>
<html lang="en">
<head>
<title>Fabien Benoit-Koch's blog</title>    
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A blog about java, game and web development.">
<meta name="author" content="Fabien Benoit-Koch">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="/static/css/tango.css"/>        
<script type="text/javascript">
var _gaq = _gaq || [];
 _gaq.push(['_setAccount', 'UA-38707885-1']);
 _gaq.push(['_trackPageview']);

 (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
</script>        		                         
    </head>
    <body>    	
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
        
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Fabien Benoit-Koch's blog</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="{{nav.home.active}}">
                                <a href="/">Home</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="{{nav.about.active}}">
                                <a href="/list">Administration</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% block content %}{% endblock %}
                <div class="span4">
                    <div class="well well-large">
                        <ul class="nav nav-list">
                            <li class="nav-header">About me</li>
                            <li>
                                <small>My name is Fabien, I'm 32 and enjoy coding, especially web-related stuff and games, in java and python. Unsurprisingly, this blog talks mostly about that.</small>
                            </li>
                            <li class="nav-header">Contact</li>
                            <li><a href="http://www.linkedin.com/in/fabienbenoit">      
                                <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.png" width="160" height="25" border="0" alt="My LinkedIn profile">
                            </a>
                            </li>
                            <li class="nav-header">Github</li>
                            <li><iframe src="http://githubbadge.appspot.com/badge/fabienbk" style="border: 0;height: 100px;width: 200px;overflow: hidden;" frameBorder=0></iframe></li>
                            <li class="nav-header">Last Good Stuff</li>
                            {% for post in recent_post_list %} 
                            <li><a href="/post/{{post.id}}/{{post.slug}}/">{{ post.title }}</a></li>                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>