{% extends "base.html" %}

{% block content %}
<div class="span8">
        
    <div class="btn-group pull-right" style="margin: 20px 0px 0px">
        <a class="btn" href="/post/{{ post.id }}/next/"><i class="icon-chevron-left"></i></a>                
        <a class="btn" href="/post/{{ post.id }}/previous/"><i class="icon-chevron-right"></i></a>
    </div>
        
    <div class="page-header" style="margin: -8px 5px 20px">
        <h3>{{ post.title }} <small>{{ post.creation_date|date:"j-M-Y" }}{% if user.is_authenticated %} <a href="/edit/?edit={{ post.id }}">[edit]</a>{% endif %}</small></h3>                    
    </div>    
    
    <div style="margin: 0px 0px 40px">
    {{ post.text_html|safe }}        
    </div>         

    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'scramcode'; // required: replace example with your forum shortname        
        var disqus_identifier = '{{ post.id }}';
        var disqus_title = '{{ post.title }}';
        var disqus_url = 'http://blog.scramcode.com/post/{{ post.id }}/{{ post.slug }}/';        
        var disqus_developer = 0; // or 1 based on if you're looking to skip URL authentication
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        function load_disqus() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }();
    </script>       
              
	<div style="margin: 0px 0px 60px"></div>  
</div>
{% endblock %}